#calcu{width: 330px; height: 325px;background-color: rgb(98, 98, 202); padding-left: 30px; padding-top: 10px; margin-left: 450px;}
.bu{width: 70px; height: 70px; }
#inp{width: 285px; height: 25px; background-color: gray;}
body{background-color: darkgray;}